// IMPORT
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// VARIABLE
$poppins: 'Poppins', sans-serif;
$open: 'Open Sans', sans-serif;
$orange: #eb641c;
$orange-dark: #d2582d;
$gray-blue: #37474f;
$gray-blue-dark: #102027;
$gray-blue-light: #62727b;
$dark: #222222;
$gray: #888888;
$light-gray: #c8c8c8;
$very-light-gray: #e4e4e4;

// MIXINS
@mixin placeholder {
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin formatToggle{
	.list-item{
		margin-right: 6px;
		width: calc((100% / 3) - 6px);
		border-bottom: 0;

		.format-item{
			& > div{
				max-width: none;
				flex-basis: 100%;
				padding-left: 4px;
				padding-right: 4px;
			}

		}

		ul{
			margin: 10px 0;
		}

		h2{
			font-size: 21px;
		}
		.thumb{
			margin-bottom: 10px;
		}
		.thumb-tag{
			font-size: 11px;
		}

		.bottom{
			position: static;
			margin-top: 15px;


			.format-nopad{
				padding-left: 5px;
				padding-right: 5px;
			}
		}

		p.price{
			font-size: 12px;

			strong{
				font-size: 14px;
			}

			&.price-2{
				font-size: 18px;

				strong{
					font-size: 21px;
				}
			}
		}

		.btn{
			font-size: 11px;
			padding: 0 6px;
			margin-right: 4px;
		}
	}
}

@mixin light-card {
	padding: 12px 8px 12px 14px;
	border: 1px solid $light-gray;
	border-radius: 4px;
}

@mixin absolute-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-full{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// SPACERS
.mx-1 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mx-2 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.n-mx-1 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.n-mx-2 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.n-mt-1 {
  margin-top: -5px !important;
}
.n-mt-2 {
  margin-top: -10px !important;
}


// TYPOGRAGHY
a:hover{
	color: $orange;
	text-decoration: none;
}
.t11{
	font-size: 11px;
}
.t14{
	font-size: 14px;
}
.t16{
	font-size: 16px;
}
.t18{
	font-size: 18px;
}
.t21{
	font-size: 21px;
}

.gray-blue{
	color: $gray-blue;
}
.gray-blue-dark{
	color: $gray-blue-dark;
}
.gray-blue-light{
	color: $gray-blue-light;
}
.dark{
	color: $dark;
}
.light-gray{
	color: $light-gray;
}

.display-title{
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	color: $gray-blue-light;
}

// COMPONENTS
html, body{
	height: 100%;
}
body{
	font-family: $poppins;
}
.wrapper{
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;

	@include mq('tablet-wide', 'max') {
		padding: 0 10px;
	}
}
.relative{
	position: relative;
}
.block{
	display: block;
}

main{
	
}

.bread-list{
	border-bottom: 1px solid $very-light-gray;
	margin-bottom: 30px;

	&.no-gap{
		margin-bottom: 0;
	}

	ul{
		margin-left: 16px;
		margin-bottom: 5px;

		li{
			font-size: 11px;
			color: $gray-blue-light;
			margin-right: 6px;
			text-transform: uppercase;
			letter-spacing: .25px;
			font-family: $open;
			line-height: 1;

			a{
				color: $gray-blue-dark;
				font-weight: 600;
			}

			&:after{
				content: '>';
				display: inline-block;
				margin-left: 8px;
			}

			&:last-child{
				&:after{
					content: none;
				}
			}
		}
	}
}

input{
	transition: .2s outline ease;
	&:focus{
		outline: 2px solid $orange;
	}
}

form.main-search{
	max-width: 100%;

	label{
		position: relative;
		max-width: 220px;
	}

	input[type="search"]{
		display: block;
		width: 100%;
		color: $gray-blue-dark;
		line-height: 58px;
		padding: 0 20px;
		background: transparent;
		border: 1px solid $light-gray;

		@include placeholder {
			font-size: 17px;
			color: $gray-blue-dark;
			opacity: .5;
			font-style: italic;
			font-weight: 300;
			letter-spacing: .5px;

			@include mq('tablet-wide', 'max') {
				font-size: 12px;
			}
		}
	}

	input[type="submit"]{
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 10px;
		display: inline-block;
		border: 0;
		width: 18px;
		height: 19px;
		background-color: transparent;
		background-image: url('../img/ico_search.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

*{
	@include placeholder {
		font-size: 14px;
		color: $gray-blue-dark;
		opacity: .5;
		font-style: italic;
		font-weight: 300;
		letter-spacing: .25px;
	}
}
.light-card{
	@include light-card;
}

// HEADER
header{
	padding: 15px 0;
	margin-bottom: 30px;
	border-bottom: 1px solid $very-light-gray;

	h1#branding{
		line-height: 1;
		margin: 0;

		img{
			vertical-align: middle;

			@include mq('tablet-wide', 'max') {
				width: 100%;
				margin-bottom: 6px;
			}
		}
	}
}

// NAV
nav{
	ul{
		li{
			a.nav-link{
				font-size: 15px;
				line-height: 1.5;
				font-weight: 500;
				color: $gray-blue-dark;
				letter-spacing: 1px;
				text-transform: uppercase;
				transition: .2s color ease;
				padding: 0 15px;

				&:hover{
					color: $orange;
				}

				@include mq('tablet-wide', 'max') {
					padding: 0 10px;
				}
			}
		}
	}
}

// FOOTER
footer{
	padding: 8px 0;
	border-top: 1px solid #f0f0f0;

	span{
		font-size: 12px;
		color: $gray-blue-dark;
		letter-spacing: .25px;
	}
}


// HOME
body.home{
	footer{
		width: 100%;
		position: absolute;
		bottom: 0;
	}
}
body.home form.main-search{
	@include absolute-center;
	width: 680px;
	padding-bottom: 40px;

	@include mq('tablet', 'max') {
		text-align: center;

		input[type="search"]{
			margin: 0 auto;
			width: calc(100% - 30px);
			line-height: 4;
		}
	}
}

// IMOVEIS
.list-header{
	margin: 20px 0;
}
.result{
	@include mq('tablet-wide', 'max') {
		width: 100%;
	}

	p{
		font-size: 21px;
		letter-spacing: .25px;
		line-height: 2;
		color: $gray;
		margin-bottom: 0;

		strong{
			font-weight: 600;
			color: $orange;
		}

		@include mq('tablet-wide', 'max') {
			font-size: 18px;
			text-align: center;
			width: 100%;
		}
	}
}

.filter-header{
	@include mq('tablet-wide', 'max') {
		padding: 15px 0;
		border-top: 1px solid #f0f0f0;
		border-bottom: 1px solid #f0f0f0;
		text-align: center;
	}

	span{
		font-size: 14px;
		color: $gray-blue;
		letter-spacing: .25px;
		margin-right: 8px;
		line-height: 2.5;

		@include mq('tablet-wide', 'max') {
			font-size: 11px;
		}
	}
	select{
		background: transparent;
		border: 1px solid $gray-blue;
		font-size: 14px;
		letter-spacing: .25px;
		color: $gray;
		padding: 0 6px;
		height: 36px;
		border-color: $orange;
	}
	.list-format{
		margin-left: 28px;

		@include mq('tablet-wide', 'max') {
			display: none;
		}

		a{
			display: inline-block;
			margin-left: 6px;

			img{
				opacity: .75;
			}

			&:hover{
				img{
					opacity: 1;
				}
			}
		}
	}
}

.list-imovel{
	&.format-col{
		@include formatToggle;

		&.column-4{
			.list-item{
				width: calc((100% / 4) - 10px);
			}
		}
	}

	&.list-relac{
		margin-top: 30px;

		& > .slick-prev{
			left: -60px;
		}
		& > .slick-next{
			right: -60px;
		}

		.description{
			display: none;
		}

		.list-item{
			.slick-arrow{
				opacity: 0;
				transition: .2s opacity ease;
			}

			&:hover{
				.slick-arrow{
					opacity: 1;
				}
			}
		}
	}

	.list-item{
		position: relative;
		margin-bottom: 34px;
		border-bottom: 1px solid $very-light-gray;

		.thumb-list{
			@include mq('tablet-wide', 'max') {
				width: 100vw;
				position: relative;
				left: 50%;
				right: 50%;
				margin-left: -50vw;
				margin-right: -50vw;
			}
		}

		&.list-single{
			border-bottom: 0;

			.thumb{
				&.main-thumb{
					height: 420px;
					background-repeat: no-repeat;
					background-color: $gray-blue-light;
					background-size: cover;
					background-position: center;
					margin-bottom: 40px;

					@include mq('tablet-wide', 'max') {
						height: 280px;
					}
				}
			}

			.imovel-title{
				text-align: center;
				margin-bottom: 20px;

				h2{
					font-size: 34px;
					font-weight: 700;
					letter-spacing: 0;
					text-transform: uppercase;
					color: $orange;
				}
				.address{
					font-size: 16px;
					letter-spacing: .5px;
				}
			}

			p.price{
				font-size: 18px;
				strong{
					font-size: 28px;
				}
			}

			ul{
				margin: 15px 0;
				padding: 8px 10px;
				list-style: none;

				&.list-price{
					li{
						font-size: 15px;
						margin-bottom: 10px;
						padding-left: 20px;

						&.big{
							padding-left: 0;

							strong{
								font-size: 24px;
								margin-bottom: 10px;
							}
						}
					}
				}

				&.light-card{
					@include light-card;
				}

				li{
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: .25px;
					color: $gray-blue-dark;
					line-height: 1.4;
					margin-bottom: 20px;
					// border-bottom: 1px solid $light-gray;

					strong{
						color: $gray-blue;
					}

					&:last-child{
						margin-bottom: 10px;
					}
				}
			}

			.description{
				max-height: none;
				overflow: initial;
				margin-bottom: 40px;

				h3{
					margin-top: 25px;
					font-size: 18px;
					color: $gray-blue;
					font-weight: 700;
					line-height: 1;
					letter-spacing: .75px;
					text-transform: uppercase;
					font-family: $open;
				}

				p{
					font-size: 14px;
					color: $gray;
					letter-spacing: .25px;
					word-spacing: .25px;
					line-height: 1.8;
					font-family: $open;
				}

				ul{
					list-style: none;
					margin: 15px 0;
					padding: 0;

					li{
						font-size: 11px;
						
						&:before{
							content: '';
							display: inline-block;
							width: 3px;
							height: 3px;
							background-color: $gray-blue-light;
							margin-right: 5px;
							margin-bottom: 2px;
						}
					}
				}
			}

			.group-btn{
				margin: 25px 0;

				.btn{
					display: block;
					width: 100%;
					margin-bottom: 10px;
					font-size: 16px;
					line-height: 3;
					letter-spacing: .5px;
					font-weight: 700;
					border-width: 2px;
					color: #fff;
					background-color: $orange;

					&:hover{
						background-color: $orange-dark;
					}
				}
			}
		}

		.thumb{
			width: 100%;
			height: 240px;
			display: block;
			position: relative;

			.src{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-size: cover;
				background-position: center;
			}
		}
		.thumb-tag{
			display: inline-block;
			position: absolute;
			top: 12px;
			left: -4px;
			background-color: $orange;
			border-bottom: 2px solid $orange-dark;
			padding: 0 12px;
			line-height: 2;
			font-size: 13px;
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: .25px;
		}

		.address{
			font-size: 13px;
			color: $gray;
			letter-spacing: .25px;
			word-spacing: .25px;
			line-height: 1.4;
			// font-family: $open;
		}

		h2{
			font-family: $open;
			font-size: 26px;
			letter-spacing: .25px;
			font-weight: 600;
			line-height: 1;
			color: $gray-blue;

			&:hover{
				color: $orange;
			}
		}

		.description{
			max-height: 63px;
			overflow: hidden;

			p{
				font-size: 13px;
				color: $gray;
				letter-spacing: .25px;
				word-spacing: .5px;
				line-height: 1.6;
				font-family: $open;
			}
		}

		ul{
			margin: 20px 0;

			li{
				font-size: 12px;
				margin-right: 15px;
				letter-spacing: .25px;
				font-family: $open;
				color: $gray-blue-light;
				text-transform: uppercase;

				strong{
					margin-right: 2px;
				}
			}
		}

		.bottom{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding-bottom: 10px;

		}
		.btn{
			display: inline-block;
			padding: 0 12px;
			line-height: 2.5;
			text-transform: uppercase;
			letter-spacing: .25px;
			font-size: 13px;
			color: $gray-blue;
			font-weight: 600;
			font-family: $open;
			margin-right: 10px;
			border-radius: 2px;
			border: 1px solid $orange;

			&:hover{
				color: #fff;
				background-color: $orange;
			}
		}

		p.price{
			font-size: 14px;
			color: $gray;
			letter-spacing: .25px;
			line-height: 1.3;
			font-family: $open;
			margin: 0;

			strong{
				color: $gray-blue;
				font-size: 20px;
				word-spacing: 1px;
			}
		}
	}

	@include mq('tablet-wide', 'max') {
		@include formatToggle;

		.list-item{
			width: 100% !important;
		}
	}
}


// ASIDE FILTER
aside{
	#close-btn{
		display: none;
	}
	#submit-btn{
		display: none;
	}

	.filter{
		@include light-card;
		padding: 8px 0;
		display: none;
		text-align: center;
		background-color: $orange;
		margin-bottom: 20px;

		&:hover{
			background-color: $orange-dark;
		}

		span{
			font-family: $open;
			font-weight: 700;
			color: #fff;
			letter-spacing: .25px;
			font-size: 14px;
			text-transform: uppercase;
		}
	}

	@include mq('tablet-wide', 'max') {
		.aside-content{
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
			padding: 60px 20px 0;
			z-index: 9999;
		}

		.filter{
			display: block;
		}

		#close-btn{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			font-size: 13px;
			font-weight: 700;
			font-family: $open;
			color: $gray-blue;
			letter-spacing: 1px;
			padding: 10px 0;
			display: block;
			width: 100%;
			border-bottom: 1px solid #f0f0f0;
			background-color: $very-light-gray;
			text-align: center;
			z-index: 9999;
		}
		#submit-btn{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 14px;
			font-weight: 700;
			font-family: $open;
			color: #fff;
			letter-spacing: 1px;
			padding: 10px 0;
			display: block;
			width: 100%;
			background-color: $orange;
			text-align: center;
			text-transform: uppercase;
			z-index: 9999;
		}
	}

	h3{
		font-size: 16px;
		color: $gray-blue-dark;
		text-transform: uppercase;
		font-family: $open;
		font-weight: 600;

		@include mq('tablet-wide', 'max') {
			font-size: 14px;
			margin-bottom: 20px;

			&:before{
				content: '+';
				display: inline-block;
				color: $gray-blue;
				margin-right: 6px;
			}
		}
	}
	ul{
		margin: 0 0 20px;
		padding: 0 0 10px;
		list-style: none;
		border-bottom: 1px solid $very-light-gray;

		@include mq('tablet-wide', 'max') {
			display: none;

			&.open{
				// height: auto;
			}
		}

		&:last-child{
			border-bottom: none;
		}

		li{
			display: block;
			line-height: 1.6;

			label{
				font-size: 13px;
				color: $gray-blue;
				letter-spacing: .25px;
				margin-left: 8px;
				cursor: pointer;

				@include mq('tablet-wide', 'max') {
					font-size: 12px;
				}
			}

			input[type="checkbox"]{
				vertical-align: middle;
				display: none;

				& + .check{
					display: inline-block;
					width: 14px;
					height: 14px;
					border: 2px solid $orange;
					border-radius: 2px;
					margin-bottom: -2px;
				}
				&:checked + .check{
					background-color: $orange;
				}
			}
		}

		form{
			input[type="search"]{
				font-size: 14px;
				line-height: 3;

				@include placeholder {
					font-size: 13px;
					opacity: .75;

					@include mq('tablet-wide', 'max') {
						font-size: 12px;
					}
				}
			}
		}

		&.group-price{
			li{
				width: 40%;
				margin-right: 10px;
				display: inline-block;
				position: relative;

				&:after{
					content: 'R$';
					display: inline-block;
					width: 20px;
					text-align: center;
					position: absolute;
					left: 4px;
					bottom: 6px;
					font-size: 14px;
					color: $gray-blue-dark;
					opacity: .5;
					letter-spacing: .25px;
				}

				label{
					margin: 0;
					width: 100%;
				}
				input{
					width: 100%;
					padding: 0 5px 0 25px;
					font-size: 14px;
					color: $gray-blue;
					line-height: 2;
					margin-top: 4px;

					@include placeholder {
						font-style: unset;
						text-align: right;

						@include mq('tablet-wide', 'max') {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

.pagger-list{
	margin: 15px 0 40px;
	text-align: center;

	ul{
		margin: 0;
		padding: 0;
		display: inline-block;

		li{
			display: inline-block;
			margin: 0 2px 8px;

			a{
				font-size: 13px;
				font-family: $open;
				font-weight: 600;
				display: block;
				color: $orange;
				line-height: 2.4;
				padding: 0 12px;
				border: 1px solid $orange;
				transition: .2s all ease;

				&:not([href]):not([tabindex]) {
					color: #fff;
					background-color: $orange;
				}
				&:hover {
					color: #fff;
					background-color: $orange;
				}
			}
		}
	}
}

// IMOVEL SINGLE

.wrap-relac{
	margin-top: 40px;
}

.slick-arrow{
	border: none;
	background-color: unset;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 107px;
	color: transparent;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 99;
	outline: 0 !important;

	&.slick-prev{
		background-image: url(../img/arrow_slide_left.svg);
	}
	&.slick-next{
		background-image: url(../img/arrow_slide_right.svg);
		left: unset;
		right: 0;
	}
	&.slick-disabled{
		opacity: .5;
		cursor: initial;
	}
}

.thumb-list{
}

.info-box{
	@include light-card;
	padding: 12px;
	display: none;
	margin-top: -10px;
	margin-bottom: 10px;
	border-radius: 0 0 4px 4px;
	text-align: center;

	span{
		font-family: $open;
		font-size: 18px;
		font-weight: 600;
		color: $gray-blue-dark;
		letter-spacing: .5px;
	}

	form{
		text-align: left;

		input,
		textarea{
			display: block;
			width: 100%;
			line-height: 2;
			margin-bottom: 10px;
			color: $gray-blue-dark;
			padding: 0 10px;
			border: 1px solid $light-gray;
			border-radius: 2px;
		}
		textarea{
			padding-top: 5px;
			line-height: 1.2;
			height: 80px;
		}
		input[type="checkbox"]{
			width: 14px;
			height: 14px;
			display: inline-block;
			margin-bottom: 0;
		}
		label{
			display: inline-block;
			font-size: 12px;
			color: $gray-blue-dark;
			line-height: 1.6;
			vertical-align: middle;
		}
		input[type="submit"]{
			display: inline-block;
			font-size: 14px;
			text-transform: uppercase;
			line-height: 3;
			letter-spacing: .5px;
			font-weight: 700;
			border-width: 0;
			color: #fff;
			background-color: $orange;

			&:hover{
				background-color: $orange-dark;
			}
		}
	}
}

form.form-bottom{
	margin-top: 30px;
	background-color: #f2f2f2;
	padding: 30px 0;

	input,
	textarea{
		display: block;
		width: 100%;
		line-height: 2;
		margin-bottom: 10px;
		color: $gray-blue-dark;
		padding: 0 10px;
		border: 1px solid $light-gray;
		border-radius: 2px;
	}
	textarea{
		padding-top: 5px;
		line-height: 1.2;
		height: calc(100% - 10px);
	}
	input[type="checkbox"]{
		width: 14px;
		height: 14px;
		display: inline-block;
		margin-bottom: 0;
	}
	label{
		display: inline-block;
		font-size: 12px;
		color: $gray-blue-dark;
		line-height: 1.6;
		vertical-align: middle;
	}
	input[type="submit"]{
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 3;
		letter-spacing: .5px;
		font-weight: 700;
		border-width: 0;
		color: #fff;
		background-color: $orange;

		&:hover{
			background-color: $orange-dark;
		}
	}
}

// BOOTSTRAP RESET
@include mq('phablet', 'min') {
	.width-col-sm-7{
		max-width: calc((1260px / 12) * 7);
	}
}