<div class="list-item">
	<div class="imovel-content">
		<div class="container-fluid">
			<div class="format-item row">
				<div class="col-5 px-1">
					<div class="relative">
						<div class="thumb-list">
							<a href="imovel.html" class="thumb main-thumb">
								<div class="src" style="background-image: url('assets/img/imovel-2.jpg');"></div>
							</a>
							<a href="imovel.html" class="thumb main-thumb">
								<div class="src" style="background-image: url('assets/img/imovel.jpg');"></div>
							</a>
						</div>
						<span class="thumb-tag">Destaque!</span>
					</div>
				</div>
				<div class="col-7">
					<a href="imovel.html">
						<h2>Recreio dos Bandeirantes</h2>

						<div class="address">Rua Coronel João Olímpio, 578 - Recreio, Rio de Janeiro - RJ</div>

						<ul class="list-inline">
							<li class="list-inline-item"><strong>3</strong> <span>Quartos</span></li>
							<li class="list-inline-item"><strong>1</strong> <span>Banheiro</span></li>
							<li class="list-inline-item"><strong>1</strong> <span>Vaga</span></li>
						</ul>

						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</a>

					<div class="bottom">
						<div class="container-fluid">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto format-nopad">
									<p class="price">A partir de <br><strong>R$ 99.999</strong></p>
								</div>
								<div class="col-auto format-nopad">
									<a href="imovel.html" class="btn">Telefone</a>
									<a href="imovel.html" class="btn">Mensagem</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>