<div class="imovel-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-5">
				<img src="assets/img/imovel.jpg">
			</div>
			<div class="col-7">
				<h2>Residencial New Home</h2>
				<div class="address">Rua Coronel João Olímpio, 578 - Recreio, Rio de Janeiro - RJ</div>

				<ul class="list-inline">
					<li class="list-inline-item"><strong>3</strong> <span>Quartos</span></li>
					<li class="list-inline-item"><strong>1</strong> <span>Banheiro</span></li>
					<li class="list-inline-item"><strong>1</strong> <span>Vaga</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>