<header>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row justify-content-between align-items-center">
				<div class="col-5 col-sm-auto pr-1">
					<h1 id="branding">
						<a href="index.html">
							<img src="assets/img/logo-orange.png"/>
						</a>
					</h1>
				</div>
				<div class="col-7 col-sm-auto pl-1">
					<nav>
						<ul class="nav justify-content-end">
							<li class="nav-item">
								<a class="nav-link" href="index.html">Início</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="imoveis.html">Imóveis</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>